{{extend 'layout.html'}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                    <h1>About Medboard</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                Medical students often find themselves with no formal teaching arranged. Although several teaching opportunities exist in hospital, students are not always aware of these.
Medboard is about connecting healthcare professionals who want to teach and students who want to learn. It provides a real-time database of forthcoming learning opportunities which students have access to. Healthcare professionals can use a simple system to insert sessions to the database. Students who view Medboard are then given an option to sign up to these activities if they wish.
 
            </p>
            
            <h2>
                Contact Us
            </h2>
            <p>
                SharifBS@cardiff.ac.uk<br>
                IbrahimYM@cardiff.ac.uk
            </p>
        </div>
        
    </div>
    
</div>
